/*跳转搜索*/

.search-wrapper {
    margin: 0.8rem;
    background-color: #f0f0f2;
    border: 0.1rem solid #f0f0f2;
    height: 3rem;
    line-height: 3rem;
}

.search-wrapper a {
    color: #999;
}

.search-wrapper a .search-icon {
    margin: 0 0.5rem;
}

.search-wrapper a p {
    display: inline-block;
    font-size: 1.2rem;
    width: 80%;
    border: none;
    background-color: transparent;
    outline: 0;
}

.swiper-container img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}


/*跳转搜索结束*/

/*头部固定*/
.fixed_top{
	background-color: #FFFFFF;
}
.centerNav ul{
	margin-bottom: 0rem;
}
/*众筹分类*/

.margin_bottom {
    margin-bottom: 6rem;
	margin-top: 4rem;
}

.centerNav ul {
    overflow: hidden;
}

.centerNav ul li {
    padding-left: 0px;
    padding-right: 0px;
}

.centerNav ul li a {
    display: block;
    text-align: center;
    height: 5rem;
    background-color: #f8f8f9;
    line-height: 5rem;
    color: #5dd3cd;
}

.border {
    border-bottom: 1px solid #4DD0C8;
}


/*众筹分类结束*/

/*分类列表*/

.row1 {
    border-bottom: 1px solid #EBE7DF;
    padding: .5rem 0px;
    display: block;
}

.img {
    padding-right: 0px;
}

img {
    width: 100%;
    height: 100%;
}

.row2 {
    height: 2rem;
    line-height: 2rem;
}

.amount_box {
    padding-right: 0rem;
}

.money_box {
    left: 25%;
}

.money_box2 {
    left: -11%;
    padding-right: 0rem;
}

.money_box,
.sale_box {
    padding: 0rem;
}

.amount {
    font-size: .8rem;
    color: lightslategrey;
}

.mp {
    margin-top: 1.8rem;
    position: relative;
}

.money {
    padding-left: .5rem;
    color: #d51925;
    font-size: 1.4rem;
}

.sale {
    display: inline-block;
    height: 2.5rem;
    /*margin-left: 20%;*/
    line-height: 2.5rem;
    padding: 0rem .8rem;
    background-color: #4dd0c8;
    border-radius: .5rem;
    font-size: 1rem;
}

.rightp {
    padding-right: 0rem;
}

.leftp {
    padding-left: 0rem;
}

.clearlrp {
    padding: 0rem 1.2rem;
}

.rl {
    padding-left: 0;
}

.rl .clearmg {
    margin-top: -.5rem;
}

.clearmg {
    margin-bottom: 0rem;
}

.clearmg1 {
    margin: 0rem 0rem;
}

.mg {
    margin: .3rem 0rem 1rem;
}


#progressbar {
    height: .6rem;
    background: #cccccc;
    border-radius: 5px;
}

#progress {
    /*  border:1px solid;*/
    height: 100%;
    width: 50%;
    background: #4dd0c8;
    border-radius: 5px;
    z-index: -1;
}

#Crowd-funding a:last-child,
#house a:last-child,
#other a:last-child {
    margin-bottom: 5rem;
}

.center-vertical {
    position: absolute;
    top: 50%;
    /*left: 50%;*/
    transform: translateY(-50%);
}


/*分类列表结束*/


/*底部菜单*/

.navbar a {
    color: #454545;
    display: block;
}

.navbar {
    background: #f8f8f9;
    text-align: center;
    padding: .8rem 0;
}

.navselected span,
.navselected p {
    color: #d11128;
}

.glyphicons {
    font-size: 2rem;
}

/*底部菜单结束*/
