html,
body {
	height: 100%;
	background-color: #f9f9f9;
}
.user-nav {
    background-color: #fff;
}

.user-nav .nav-head {
    position: relative;
    text-align: center;
    border-bottom: 0.1rem solid #ccc;
    height: 4rem;
}

.user-nav .nav-head .prev {
    position: absolute;
    left: 0.8rem;
    top: 1.2rem;
}

.user-nav .nav-head h4 {
    margin: 0;
    line-height: 4rem;
}
.top {
	margin-top: 4.2rem;
	background-color: #f2f2f2;
}
.bankCard-wrapper{
	overflow: hidden;	
}
div.modify {
	position: relative;
}
.modify img{
	max-width: 26px;
	max-height: 26px;
}
.modify span{
	font-family:Microsoft YaHei;
}

.center-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.top .row .row {
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-left: 0rem;
	margin-right: 0rem;
}

.top .row .row p {
	margin-bottom: 0rem;
	text-indent: 2rem;
	color: #9b9b9b;
}

.sum {
	background-color: white;
	border: 1px solid #CCCCCC;
	border-radius: .5rem;
}

.top .row {
	padding: 1rem 0 0 0;
}

.top .row .sum {
	position: relative;
	padding-left: 0rem;
	padding-right: 0rem;
	overflow: hidden;
}
.bank-num-Wrapper{
	text-align: center;
}
.bank-num-Wrapper h3{
	margin-top: 0;
}
.bank-num-Wrapper img{
	position: absolute;
	right: -10px;
	bottom: -66px;
	min-width: 124px;
	min-height: 80px;
	opacity: 0.2;
}