html,
body,
.top {
	height: 95%;
}

.top {
	margin-top: 4rem;
	background-color: #f2f2f2;
	height: 100%;
}

.top .row {
	margin-left: 0rem;
	margin-right: 0rem;
	background-color: white;
	margin-top: 5rem;
}

.top .row .col-xs-12 {
	padding-top: 5rem;
	padding-bottom: 5rem;
	text-align: center;
}