* {
	padding: 0px;
	margin: 0px;
}

html {
	font-size: 10px;
}

body {
	color: #000000;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000000;
}

a:link {
	text-decoration: none;
	/* 指正常的未被访问过的链接*/
	color: #000000;
}

a:visited {
	text-decoration: none;
	/*指已经访问过的链接*/
	color: #000000;
}

a:hover {
	text-decoration: none;
	/*指鼠标在链接*/
	color: #000000;
}

a:active {
	text-decoration: none;
	/* 指正在点的链接*/
	color: #000000;
}


/*支持人数*/


.table-style {
	width: 94%;
	margin: 4.8rem auto 0rem auto;
}

.table-style td,
.table-style td {
	text-align: center;
	vertical-align: middle!important;
}

.table-style{
	border-top: 1px solid #DDDDDD ;
}
.table-style tbody tr td,
.table-style thead tr td{
	border-right: 1px solid #DDDDDD ;
}
.table-style tbody tr td:last-child,
.table-style thead tr td:last-child{
	border-right: 0rem;
}
.table-style{
	border-bottom: 1px solid #DDDDDD ;
}
.table-style tbody>tr>td{
	padding: 1.2rem .8rem;
}
.table-style thead>tr>td{
	padding:1.2rem .8rem;
	color: #4DD0C8;
}
